#!/usr/bin/make -f
# -*- makefile -*-

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)
export DEB_CPPFLAGS_MAINT_APPEND = -DNDEBUG

%:
	dh $@

override_dh_auto_test:
	# Cannot run tests without a X11 server (with VAAPI support)

override_dh_makeshlibs:
	dh_makeshlibs -n

override_dh_auto_install:
	dh_auto_install
	mkdir -p debian/libvdpau-va-gl1/usr/lib/$(DEB_HOST_MULTIARCH)
	mv debian/libvdpau-va-gl1/usr/lib/vdpau \
		debian/libvdpau-va-gl1/usr/lib/$(DEB_HOST_MULTIARCH)/.
